<div id="container-header" class="flex flex-col items-center">
    <nav class="w-full flex justify-between p-4 bg-white text-black">
        <ul class="flex justify-start">
            <li><a [routerLink]="['/']">Accueil</a></li>
        </ul>
        <ul class="absolute left-1/2 transform -translate-x-1/2">
            <li><a [routerLink]="['/shoots']">Shoots</a></li>
        </ul>
        <ul class="flex justify-end">
            <li><a [routerLink]="['/tiqueto']">Tiqueto</a></li>
        </ul>
    </nav>
</div>